/*? global clearing */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --light: #f7f7f7;
  --dark: #222222;
  --primary: #fd5959;
  --primary-darker: #dd4c4c;
}

h1,
h2,
h3,
a,
button {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

h4,
h5,
h6,
p,
textarea,
input {
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: var(--light);
}

section {
  padding: 96px;
}

/* ? Header */
header {
  width: 100%;
  display: flex;
  padding: 32px 96px;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
  background: transparent;
  align-items: center;
  transition: ease-in-out 0.35s;
}

header.sticky {
  background-color: white;
  transition: 0.5s;
  padding: 20px 60px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.35s;
}

header.sticky .logo-container a {
  color: var(--dark);
}

header.sticky .nav-container ul li a {
  color: var(--dark);
  transition: ease-in-out 0.3s;
}

header.sticky .nav-container ul li a:hover {
  transition: ease-in-out 0.3s;
  color: var(--primary);
}

header .logo-container a span {
  color: var(--primary);
}

header .logo-container a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.nav-container {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  margin-left: auto;
}

.nav-container ul li,
.nav-container a {
  display: inline;
  text-decoration: none;
  list-style: none;
  margin: 0 8px;
  color: white;
}

.nav-container ul li a:hover {
  transition: ease-in-out 0.3s;
  color: var(--primary);
}

/* .hamburger-menu::before {
}

.hamburger-menu::after {
} */

/* ? Home Section */
#home {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../assets/images/home/home-background.jpg");
  background-size: cover;
  background-position: center center;
}

.home-container {
  color: white;
  text-align: center;
  line-height: 1.8;
}

.home-container h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.home-container p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.home-container button {
  padding: 18px 28px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.home-container button:hover {
  transition: ease-in-out 0.5s;
  padding: 18px 28px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primary);
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

/* ? About Section */
#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.col-about {
  width: 50%;
}

.col-about .about-text {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.col-about .about-text h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.col-about .about-text h3 span {
  color: var(--primary);
}

.col-about .about-img {
  display: flex;
  max-height: 400px;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/abouts/about-us-background.jpg");
  border-radius: 1rem;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.col-about .about-img img {
  opacity: 0;
  max-width: 100%;
}

/* ? Menu Section */
#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 28px;
}

.menu-header h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 10px;
}

.menu-header h3 span {
  color: var(--primary);
  font-size: 28px;
  font-weight: 700;
}

.menu-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-content .menu-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.menu-content .menu-card {
  width: 360px;
  position: relative;
  margin: 8px;
  background-color: white;
  border: 16px solid white;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.menu-content .menu-card p {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  margin: 0;
  text-align: center;
  font-weight: 500;
}

/* ? Expert Section */
#expert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expert-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 28px;
}

.expert-header h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 10px;
}

.expert-header h3 span {
  color: var(--primary);
  font-size: 32px;
  font-weight: 700;
}

.expert-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.expert-content .expert-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  position: relative;
  margin: 16px;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.expert-content .expert-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expert-content .expert-card h6 {
  font-size: 18px;
  padding: 16px 16px 0px 16px;
}

.expert-content .expert-card p {
  font-size: 16px;
  padding: 0px 16px 16px 16px;
}

/* ? Testimonial Page */
#testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../assets/images/testimonial/testimonial-background.jpg");
  background-position: center center;
}

.testimonial-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonial-header h3 {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.testimonial-header h3 span {
  color: var(--primary);
}

.testimonial-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.testimonial-content .testimonial-card {
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 32px;
  background-color: white;
  border-radius: 16px;
  padding: 48px;
}

.testimonial-content .testimonial-card img {
  width: 128px;
  height: auto;
  border-radius: 100%;
  margin-bottom: 16px;
}

.testimonial-content .testimonial-card p {
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

.testimonial-content .testimonial-card a {
  margin-top: 20px;
  color: var(--primary);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

/* ? Contact Section */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* background: url("../assets/images/contact-background.jpg");
  background-size: cover;
  background-position: center center; */
}

.contact-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-header h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 28px;
}

.contact-header p {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-header h3 span {
  color: var(--primary);
}

.contact-box {
  margin: 16px;
  width: 800px;
  background-color: white;
  border: 15px solid white;
  border-radius: 8px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.contact-box form {
  padding: 10px 0px;
}

.input {
  margin: 10px;
}

.input input,
.input textarea {
  padding: 16px;
  width: 100%;
  font-size: 16px;
  margin: 4px 0px;
  resize: none;
}

.btn-send {
  background-color: var(--primary);
  color: white;
  border: none;
  margin-left: 10px;
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  font-weight: 600;
  transition: 0.5s;
}

.btn-send:hover {
  transition: 0.5s;
  background-color: var(--primary-darker);
}

/* ? Footer */
.footer {
  padding: 96px;
  background-color: var(--dark);
}

.footer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-header a h2 {
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}

.footer-header h2 span {
  color: var(--primary);
}

.footer-header h6 {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.footer-content ul {
  text-align: center;
}

.footer-content ul li,
.footer-content a {
  display: inline;
  margin: 0px 16px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: 0.5s;
}

.footer.content ul li,
.footer-content a:hover {
  color: var(--primary);
  transition: 0.5s;
}
